<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="col-4 ">
      <h3>Detalle Cliente</h3>
    </div>
    <div class="contaier">
      <div class="row justify-content-center">

        <div class="col-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ibicacion</th>
                <th scope="col">Pais</th>
              </tr>
            </thead>
            <tbody>

                <th scope="row">{{restaurante.id}}</th>
                <td>{{restaurante.nombre}}</td>
                <td>{{restaurante.ubicacion}}</td>
                <td>{{restaurante.pais}}</td>


              <!-- {% for cli in cliente %}
              <tr>
                <th scope="row">{{cli.id}}</th>
                <td>{{cli.nombres}}</td>
                <td>{{cli.apellidos}}</td>
                <td>{{cli.numero_identidad}}</td>
              </tr>
              {% endfor %} -->
              
              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
